google-generativeai
langchain-google-genai
langchain>=0.0.208
langchain-anthropic
python-dotenv
langgraph>=0.3.4
langchain-community 
pydantic 
pypdf


tiktoken 
langchain-openai 
langchainhub 
chromadb 
langgraph 
tavily-python

langchain-chroma
beautifulsoup4
